<?xml version="1.0" ?>

<!-- 
robotiq_hand - articulated version of the robotiq robotiq-3f-gripper,
3 fingered gripper.                                                
-->
<robot name="robotiq_hand" xmlns:xacro="http://ros.org/wiki/xacro">

        <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />
        <xacro:robotiq_hand prefix="left_hand" attached="false" reflect="" parent="panda_link8" xyz="0 0 0" rpy="0 0 0"/>

</robot>

