<?xml version="1.0" ?>

<!-- 
robotiq-3f-gripper_articulated - articulated version of the robotiq robotiq-3f-gripper,
3 fingered gripper.                                                
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotiq-3f-gripper_articulated">
        <xacro:arg name="attached"    default="true"/>
        <xacro:arg name="parent"      default="panda_link8"     />
        <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq-3f-gripper_articulated_macro.xacro" />
        <xacro:robotiq-3f-gripper_articulated prefix="" attached="$(arg attached)" ns="" parent="$(arg parent)" xyz="0 0 0.05" rpy="1.5708 0 0"/>
</robot>

