<?xml version="1.0"?>
<launch>
  <arg name="parent"                  default="panda_link8"/>
  <arg name="attached"                 default="false" />
  <arg name="prefix"                 default="" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find robotiq_3f_gripper_visualization)/cfg/robotiq_hand.xacro'
    prefix:=$(arg prefix)
    attached:=$(arg attached)
    parent:=$(arg parent)"/>
</launch>